.NoAnswer {
    color: var(--fg_noanswer_item);
}
.NoAnswer::before {
    content: "< ";
}
.NoAnswer::after {
    content: " >";
}

.Answer {
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 0.4em;
    background: var(--bg_answer_item);
}