.Resume > .Question {
    margin-left: 2em;
    margin-bottom: 2em;
}
.Resume > .Question:last-child {
    margin-bottom: 0;
}

.Resume .QuestionText {
    color: var(--fg_normalblau);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 12pt;
    font-weight: bold;
}
.Resume .QuestionValues {
    margin-left: 2em;
}

.Resume .NotRelevant {
    color: var(--fg_not_relevant_question);
}
.Resume .NotRelevant::before {
    content: "< ";
}
.Resume .NotRelevant::after {
    content: " >";
}

.Resume .Download {
    display: inline-block;
    border: 1px solid var(--fg_normalblau);
    padding: 1em;
    border-radius: 0.2em;
}

.Resume .Download a {
    color: var(--fg_normalblau);
}